{
  "root": true,
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "debug": false,
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "ecmaFeatures": {
      "globalReturn": true
    }
  },
  "plugins": [
    "node",
    "sensible"
  ],
  "rules": {
    "accessor-pairs": 0,
    "array-bracket-spacing": [2, "never"],
    "array-callback-return": 2,
    "arrow-parens": ["error", "as-needed", {
      "requireForBlockBody": true
    }],
    "block-scoped-var": 2,
    "block-spacing": [2, "always"],
    "brace-style": [2, "1tbs", {
      "allowSingleLine": true
    }],
    "class-methods-use-this": [0, {
      "exceptMethods": []
    }],
    "comma-dangle": [2, "never"],
    "comma-spacing": [2, {
      "before": false,
      "after": true
    }],
    "comma-style": [2, "first"],
    "complexity": [0, 11],
    "consistent-return": 0,
    "consistent-this": [2, "that"],
    "curly": [2, "multi-line"],
    "default-case": 0,
    "dot-location": [2, "property"],
    "dot-notation": [2, {
      "allowKeywords": true
    }],
    "eol-last": 2,
    "eqeqeq": [2, "allow-null"],
    "handle-callback-err": [2, "^(error|err|er)"],
    "guard-for-in": 2,
    "indent": 0,
    "sensible/indent": [2, 2, {
      "FunctionExpression": {
        "parameters": "first"
      },
      "FunctionDeclaration": {
        "parameters": "first",
        "body": 1
      },
      "CallExpression": {
        "arguments": "first"
      },
      "SwitchCase": 1
    }],
    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true
    }],
    "keyword-spacing": [2, {
      "overrides": {
        "else": {
          "before": true
        },
        "while": {
          "before": true
        },
        "catch": {
          "before": true
        }
      }
    }],
    "linebreak-style": ["error", "unix"],
    "max-len": [2, 160, {
      "ignoreComments": true
    }],
    "no-alert": 2,
    "no-async-promise-executor": [2],
    "no-caller": 2,
    "no-case-declarations": 2,
    "no-cond-assign": [2, "except-parens"],
    "no-const-assign": "error",
    "no-div-regex": 0,
    "no-else-return": 0,
    "no-empty-function": [2, {
      "allow": ["arrowFunctions", "functions", "methods"]
    }],
    "no-empty-pattern": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-extra-label": 2,
    "no-fallthrough": 1,
    "no-floating-decimal": 2,
    "no-global-assign": [2, {
      "exceptions": []
    }],
    "no-implicit-coercion": [0, {
      "boolean": false,
      "number": true,
      "string": true,
      "allow": []
    }],
    "no-implicit-globals": 0,
    "no-implied-eval": 2,
    "no-invalid-this": 0,
    "no-iterator": 2,
    "no-labels": [2, {
      "allowLoop": false,
      "allowSwitch": false
    }],
    "no-loop-func": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-native-reassign": 0,
    "no-new": 1,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-new-object": 2,
    "no-octal": 2,
    "no-octal-escape": 2,
    "no-param-reassign": 0,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-restricted-properties": [2, {
      "object": "arguments",
      "property": "callee",
      "message": "arguments.callee is deprecated,"
    }, {
      "property": "__defineGetter__",
      "message": "Please use Object.defineProperty instead."
    }, {
      "property": "__defineSetter__",
      "message": "Please use Object.defineProperty instead."
    }],
    "no-return-assign": 2,
    "no-return-await": 2,
    "no-script-url": 2,
    "no-self-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "func-call-spacing": 2,
    "no-tabs": [2],
    "no-throw-literal": 2,
    "no-trailing-spaces": [2],
    "no-undef": [2],
    "no-unmodified-loop-condition": 0,
    "no-unreachable": [2],
    "no-unused-expressions": [2, {
      "allowShortCircuit": false,
      "allowTernary": false
    }],
    "no-unused-labels": 2,
    "no-unused-vars": [2, {
      "vars": "all",
      "args": "none"
    }],
    "no-use-before-define": [2, {
      "functions": false
    }],
    "no-useless-call": 0,
    "no-useless-concat": 2,
    "no-useless-escape": 2,
    "no-void": 2,
    "no-warning-comments": [0, {
      "terms": ["todo", "fixme", "xxx"],
      "location": "start"
    }],
    "no-with": 2,
    "node/no-deprecated-api": 2,
    "object-curly-spacing": [2, "never"],
    "object-shorthand": [2, "always"],
    "one-var": [0, {
      "uninitialized": "always",
      "initialized": "never"
    }],
    "operator-linebreak": [2, "before"],
    "padded-blocks": [0, "never"],
    "prefer-const": 1,
    "prefer-object-spread": [2],
    "quote-props": [2, "consistent-as-needed", {
      "keywords": true,
      "unnecessary": false
    }],
    "quotes": [2, "single", "avoid-escape"],
    "radix": 0,
    "semi": [2, "never"],
    "strict": [1, "global"],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "space-unary-ops": [2, {
      "words": false,
      "nonwords": false
    }],
    "spaced-comment": [2, "always"],
    "vars-on-top": 0,
    "wrap-iife": [2, "outside", {
      "functionPrototypeMethods": false
    }],
    "yoda": 0,
    "sensible/check-require": [2, "always"]
  }
}
