version: 2.1
tagged_build_filters: &tagged_build_filters
  tags:
    only: /[0-9]+\.[0-9]+\.[0-9]+/
  branches:
    ignore: /.*/
test_build_filters: &test_build_filters
  branches:
    only: /.*/
  tags:
    ignore: /[0-9]+\.[0-9]+\.[0-9]+/
executors:
  docker-publisher:
    environment:
      ICR_IMAGE_NAME: icr.io/ext/logdna-agent
      IMAGE_NAME: logdna/logdna-agent
      MAJOR_VERSION: 1.
    docker:
      - image: circleci/buildpack-deps:stretch
jobs:
  test-unit:
    docker:
      - image: circleci/node:12.13.0
    steps:
      - checkout
      - run: npm install
      - run: npm run lint
      - run: npm run test.unit
  build-linux:
    docker:
      - image: circleci/node:12.13.0
    steps:
      - checkout
      - run: npm install --production
      - run: npm run test.version
      - run: npm run build.linux
      - persist_to_workspace:
          root: .
          paths:
            - ./logdna-agent_1.6.2_amd64.deb
            - ./logdna-agent-1.6.2-1.x86_64.rpm
  approve-linux:
    docker:
      - image: circleci/golang:1.12
    steps:
      - attach_workspace:
          at: /tmp/workspace
  deploy-linux:
    docker:
      - image: circleci/golang:1.12
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Publish to GitHub Releases
          command: |
            # Variables
            export ANSIBLE_HOST_KEY_CHECKING=False
            export TERRAFORM_STATE_ROOT=.
            # Step 1: Install Dependencies
            go get -u github.com/tcnksm/ghr
            # Step 2:
            ghr \
              -n "LogDNA Agent v1.6.2" \
              -t ${GITHUB_TOKEN} \
              -u logdna \
              -r logdna-agent \
              -draft \
              1.6.2 /tmp/workspace/
  image-build:
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Set Environment Variables
          command: |
            DOCKER_TAG=$(wget -q https://registry.hub.docker.com/v1/repositories/logdna/logdna-agent/tags -O - | jq -r '.[] | .name' | awk '!/-/ && /\./ { print $1}' | grep ${MAJOR_VERSION} | tail -1)
            if [[ ${CIRCLE_TAG} == ${MAJOR_VERSION}* ]]; then
              IMAGE_TAG=${CIRCLE_TAG}
            else
              IMAGE_TAG=${DOCKER_TAG}
            fi
            echo "export DATESTAMP=$(date +%Y%m%d)" >> env-vars
            echo "export IMAGE_TAG=${IMAGE_TAG}" >> env-vars
            cat env-vars >> ${BASH_ENV} && source ${BASH_ENV}
      - run:
          name: Build Docker image
          command: docker build -t ${IMAGE_NAME}:sandbox-${DATESTAMP} .
      - run:
          name: Archive Docker image
          command: docker save -o image.tar ${IMAGE_NAME}:sandbox-${DATESTAMP}
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar
            - ./env-vars
  docker-sysdig-scan:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Set Environment Variables
          command: cat /tmp/workspace/env-vars >> ${BASH_ENV} && source ${BASH_ENV}
      - run:
          name: Authenticate to Docker Hub
          command: echo ${DOCKERHUB_PASS} | docker login -u ${DOCKERHUB_USERNAME} --password-stdin
      - run:
          name: Load Archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Publish Docker Image to Docker Hub as Sandbox
          command: docker push ${IMAGE_NAME}:sandbox-${DATESTAMP}
      - run:
          name: Scan Sandbox Image
          command: docker run -e IMAGE_TO_SCAN=${IMAGE_NAME}:sandbox-${DATESTAMP} -e SYSDIG_SECURE_TOKEN=${SYSDIG_SECURE_TOKEN} logdna/sysdigsecure
  approve-docker-image:
    executor: docker-publisher
    steps:
      - attach_workspace: 
          at: /tmp/workspace  
      - run: cat /tmp/workspace/env-vars >> ${BASH_ENV}
  docker-hub-upload:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Set Environment Variables
          command: cat /tmp/workspace/env-vars >> ${BASH_ENV} && source ${BASH_ENV}
      - run:
          name: Authenticate to Docker Hub
          command: echo ${DOCKERHUB_PASS} | docker login -u ${DOCKERHUB_USERNAME} --password-stdin
      - run:
          name: Load Archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Tag and Push Docker Image to Docker Hub
          command: |
            TAGS=( latest ${IMAGE_TAG} ${IMAGE_TAG}-${DATESTAMP} )
            for TAG in ${TAGS[@]}; do
              docker tag ${IMAGE_NAME}:sandbox-${DATESTAMP} ${IMAGE_NAME}:${TAG}
              docker push ${IMAGE_NAME}:${TAG}
            done
  ibm-registry-upload:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Set Environment Variables
          command: cat /tmp/workspace/env-vars >> ${BASH_ENV} && source ${BASH_ENV}
      - run:
          name: Authenticate to IBM Container Registry
          command: echo ${IBM_API_KEY} | docker login -u iamapikey --password-stdin icr.io
      - run:
          name: Load Archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Tag and Push Docker Image to Docker Hub
          command: |
            TAGS=( latest ${IMAGE_TAG} ${IMAGE_TAG}-${DATESTAMP} )
            for TAG in ${TAGS[@]}; do
              docker tag ${IMAGE_NAME}:sandbox-${DATESTAMP} ${ICR_IMAGE_NAME}:${TAG}
              docker push ${ICR_IMAGE_NAME}:${TAG}
            done
workflows:
  test:
    jobs:
      - test-unit:
          filters: *test_build_filters
  publish-linux:
    jobs:
      - test-unit:
          filters: *tagged_build_filters
      - build-linux:
          requires:
            - test-unit
          filters: *tagged_build_filters
      - approve-linux:
          type: approval
          requires:
            - build-linux
          filters: *tagged_build_filters
      - deploy-linux:
          requires:
            - approve-linux
          filters: *tagged_build_filters
  publish-image:
    jobs:
      - test-unit:
          filters: *tagged_build_filters
      - image-build:
          requires:
            - test-unit
          filters: *tagged_build_filters
      - docker-sysdig-scan:
          requires:
            - image-build
          filters: *tagged_build_filters
      - approve-docker-image:
          type: approval
          requires:
            - docker-sysdig-scan
          filters: *tagged_build_filters
      - docker-hub-upload:
          requires:
            - approve-docker-image
          filters: *tagged_build_filters
      - ibm-registry-upload:
          type: approval
          requires:
            - docker-sysdig-scan
          filters: *tagged_build_filters
  monthly-build:
    triggers:
      - schedule:
          cron: "0 0 9 * *"
          filters:
            branches:
              only: master
    jobs:
      - test-unit
      - image-build:
          requires:
            - test-unit
      - docker-sysdig-scan:
          requires:
            - image-build
      - approve-docker-image:
          type: approval
          requires:
            - docker-sysdig-scan
      - docker-hub-upload:
          requires:
            - approve-docker-image
      - ibm-registry-upload:
          requires:
            - docker-hub-upload
