    version: 2.1
    executors:
      docker-publisher:
        environment:
          IMAGE_NAME: logdna/logdna-agent
        docker:
          - image: circleci/buildpack-deps:stretch
    jobs:
      grunt-test:
        docker:
          - image: circleci/node:8
        steps:
          - checkout
          - run:
              name: Install Dependencies
              command: |
                    sudo rm -rf node_modules package-lock.json
                    npm install eslint grunt-cli
                    npm install
          - run:
              name: Run tests
              command: grunt test
      image-build:
        executor: docker-publisher
        steps:
          - checkout
          - run: echo "export DATESTAMP=$(date +%Y%m%d)" > env-vars
          - setup_remote_docker
          - run:
              name: Build Docker image
              command: |
                docker build -t ${IMAGE_NAME}:latest .
          - run:
              name: Archive Docker image
              command: docker save -o image.tar ${IMAGE_NAME}
          - persist_to_workspace:
              root: .
              paths:
                - ./image.tar
                - ./env-vars
      docker-hub:
        executor: docker-publisher
        steps:
          - attach_workspace:
              at: /tmp/workspace
          - run: cat /tmp/workspace/env-vars >> $BASH_ENV
          - setup_remote_docker
          - run:
              name: Load archived Docker image
              command: docker load -i /tmp/workspace/image.tar
          - run:
              name: Publish Docker Image to Docker Hub
              command: |
                echo "${DOCKERHUB_PASS}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin
                IMAGE_TAG=${CIRCLE_TAG/v/''}
                docker tag ${IMAGE_NAME}:latest ${IMAGE_NAME}:${IMAGE_TAG}
                docker tag ${IMAGE_NAME}:latest ${IMAGE_NAME}:${IMAGE_TAG}-${DATESTAMP}
                docker push ${IMAGE_NAME}:${IMAGE_TAG}
                docker push ${IMAGE_NAME}:${IMAGE_TAG}-${DATESTAMP}
      docker-approved:
        executor: docker-publisher
        steps:
          - attach_workspace:
              at: /tmp/workspace
          - run: cat /tmp/workspace/env-vars >> $BASH_ENV
          - setup_remote_docker
          - run:
              name: Load archived Docker image
              command: docker load -i /tmp/workspace/image.tar
          - run:
              name: Publish Docker Image to Docker Hub
              command: |
                echo "${DOCKERHUB_PASS}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin
                docker push ${IMAGE_NAME}:latest
      ibm-registry:
        executor: docker-publisher
        steps:
          - attach_workspace:
              at: /tmp/workspace
          - run: cat /tmp/workspace/env-vars >> $BASH_ENV
          - setup_remote_docker
          - run:
              name: Load archived Docker image
              command: docker load -i /tmp/workspace/image.tar
          - run:
              name: Publish Docker Image to IBM registry
              command: |
                IMAGE_TAG=${CIRCLE_TAG/v/''}
                echo "${IBM_API_KEY}" | docker login -u iamapikey --password-stdin icr.io
                docker tag ${IMAGE_NAME}:latest icr.io/ext/logdna-agent:${IMAGE_TAG}
                docker tag ${IMAGE_NAME}:latest icr.io/ext/logdna-agent:latest
                docker tag ${IMAGE_NAME}:latest icr.io/ext/logdna-agent:{IMAGE_TAG}-${DATESTAMP}
                docker push icr.io/ext/logdna-agent:${IMAGE_TAG}
                docker push icr.io/ext/logdna-agent:latest
                docker push icr.io/ext/logdna-agent:${IMAGE_TAG}-${DATESTAMP}                
    workflows:
      version: 2
      testing:
        jobs:
          - grunt-test
      build-tags:
        jobs:
          - image-build:
              filters:
                tags:
                  only: /.*/
                branches:
                  ignore: /.*/
          - docker-hub:
              requires:
                - image-build
          - docker-approved:
              type: approval
              requires:
              - docker-hub
          - ibm-registry:
              requires:
                - docker-approved
      monthly-build:
        triggers:
          - schedule:
              cron: "0 0 1 * *"
              filters:
                branches:
                  only:
                  - master
        jobs:
          - image-build:
              filters:
                tags:
                  only: /.*/
                branches:
                  ignore: /.*/
          - docker-hub:
              requires:
                - image-build
          - docker-approved:
              type: approval
              requires:
              - docker-hub
          - ibm-registry:
              requires:
                - docker-approved 
