version: 2.1
tagged_build_filters: &tagged_build_filters
  tags:
    only: /[0-9]+\.[0-9]+\.[0-9]+/
  branches:
    ignore: /.*/
test_build_filters: &test_build_filters
  branches:
    only: /.*/
  tags:
    ignore: /[0-9]+\.[0-9]+\.[0-9]+/
executors:
  docker-publisher:
    environment:
      ICR_IMAGE_NAME: icr.io/ext/logdna-agent
      IMAGE_NAME: logdna/logdna-agent
      MAJOR_VERSION: 1.
    docker:
      - image: circleci/buildpack-deps:stretch
parameters:
  run_monthly_build:
    type: boolean
    default: false
orbs:
  slack: circleci/slack@3.4.2
jobs:
  test:
    docker:
      - image: circleci/node:12.13.0
    steps:
      - checkout
      - run: npm install
      - run: npm run lint
      - run: npm run unit
  image-build:
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Set Environment Variables
          command: |
            DOCKER_TAG=$(wget -q https://registry.hub.docker.com/v1/repositories/logdna/logdna-agent/tags -O - | jq -r '.[] | .name' | awk '!/-/ && /\./ { print $1}' | grep ${MAJOR_VERSION} | tail -1)
            if [[ ${CIRCLE_TAG} == ${MAJOR_VERSION}* ]]; then
              IMAGE_TAG=${CIRCLE_TAG}
            else
              IMAGE_TAG=${DOCKER_TAG}
            fi
            echo "export DATESTAMP=$(date +%Y%m%d)" >> env-vars
            echo "export IMAGE_TAG=${IMAGE_TAG}" >> env-vars
            cat env-vars >> ${BASH_ENV} && source ${BASH_ENV}
      - run:
          name: Build Docker image
          command: docker build -t ${IMAGE_NAME}:sandbox-${DATESTAMP} .
      - run:
          name: Archive Docker image
          command: docker save -o image.tar ${IMAGE_NAME}:sandbox-${DATESTAMP}
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar
            - ./env-vars
  docker-sysdig-scan:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Set Environment Variables
          command: cat /tmp/workspace/env-vars >> ${BASH_ENV} && source ${BASH_ENV}
      - run:
          name: Authenticate to Docker Hub
          command: echo ${DOCKERHUB_PASS} | docker login -u ${DOCKERHUB_USERNAME} --password-stdin
      - run:
          name: Load Archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Publish Docker Image to Docker Hub as Sandbox
          command: docker push ${IMAGE_NAME}:sandbox-${DATESTAMP}
      - run:
          name: Scan Sandbox Image
          command: docker run -e IMAGE_TO_SCAN=${IMAGE_NAME}:sandbox-${DATESTAMP} -e SYSDIG_SECURE_TOKEN=${SYSDIG_SECURE_TOKEN} logdna/sysdigsecure
  approve-docker-image:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run: cat /tmp/workspace/env-vars >> ${BASH_ENV}
  docker-hub-upload:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Set Environment Variables
          command: cat /tmp/workspace/env-vars >> ${BASH_ENV} && source ${BASH_ENV}
      - run:
          name: Authenticate to Docker Hub
          command: echo ${DOCKERHUB_PASS} | docker login -u ${DOCKERHUB_USERNAME} --password-stdin
      - run:
          name: Load Archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Tag and Push Docker Image to Docker Hub
          command: |
            TAGS=( latest ${IMAGE_TAG} ${IMAGE_TAG}-${DATESTAMP} )
            for TAG in ${TAGS[@]}; do
              docker tag ${IMAGE_NAME}:sandbox-${DATESTAMP} ${IMAGE_NAME}:${TAG}
              docker push ${IMAGE_NAME}:${TAG}
            done
  ibm-registry-upload:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Set Environment Variables
          command: cat /tmp/workspace/env-vars >> ${BASH_ENV} && source ${BASH_ENV}
      - run:
          name: Authenticate to IBM Container Registry
          command: echo ${IBM_API_KEY} | docker login -u iamapikey --password-stdin icr.io
      - run:
          name: Load Archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Tag and Push Docker Image to Docker Hub
          command: |
            TAGS=( latest ${IMAGE_TAG} ${IMAGE_TAG}-${DATESTAMP} )
            for TAG in ${TAGS[@]}; do
              docker tag ${IMAGE_NAME}:sandbox-${DATESTAMP} ${ICR_IMAGE_NAME}:${TAG}
              docker push ${ICR_IMAGE_NAME}:${TAG}
            done
workflows:
  test:
    jobs:
      - test:
          filters: *test_build_filters
  publish-image:
    jobs:
      - test:
          filters: *tagged_build_filters
      - image-build:
          requires:
            - test
          filters: *tagged_build_filters
      - docker-sysdig-scan:
          requires:
            - image-build
          filters: *tagged_build_filters
      - slack/approval-notification:
          name: approval-notification
          webhook: ${SLACK_WEBHOOK}
          message: "Deploy pending approval: https://circleci.com/workflow-run/${CIRCLE_WORKFLOW_ID}"
          channel: "${SLACK_INTEGRATION_NOTIFICATION_CHANNEL_KEY}" # Optional: If set, overrides webhook's default channel setting
          requires:
          - docker-sysdig-scan
          filters: *tagged_build_filters
      - approve-docker-image:
          type: approval
          requires:
            - docker-sysdig-scan
          filters: *tagged_build_filters
      - docker-hub-upload:
          requires:
            - approve-docker-image
          filters: *tagged_build_filters
      - ibm-registry-upload:
          type: approval
          requires:
            - docker-sysdig-scan
          filters: *tagged_build_filters
  monthly-build:
    triggers:
      - schedule:
          cron: "0 0 9 * *"
          filters:
            branches:
              only: master
    jobs: &monthly-build
      - test
      - image-build:
          requires:
            - test
      - docker-sysdig-scan:
          requires:
            - image-build
      - slack/approval-notification:
          webhook: ${SLACK_WEBHOOK}
          message: "Deploy pending approval: https://circleci.com/workflow-run/${CIRCLE_WORKFLOW_ID}"
          channel: "${SLACK_INTEGRATION_NOTIFICATION_CHANNEL_KEY}" # Optional: If set, overrides webhook's default channel setting
          requires:
          - docker-sysdig-scan
      - approve-docker-image:
          type: approval
          requires:
            - docker-sysdig-scan
      - docker-hub-upload:
          requires:
            - approve-docker-image
      - ibm-registry-upload:
          requires:
            - docker-hub-upload
  monthly-build-manual:
    when: << pipeline.parameters.run_monthly_build >>
    jobs: *monthly-build
